<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- <%= form_for [@adventure, @chapter] do |form| %>
      <%= form.label :description %>
      <%= form.text_area :description %>
      <%= fields_for @choice1 do |choice_form| %>
        <%= form.label "option 1" %>
        <%= choice_form.text_field :option %>
      <% end %>
      <%= fields_for @choice2 do |choice_form| %>
        <%= form.label "option 2" %>
        <%= choice_form.text_field :option %>
      <% end %>
      <%= form.button :submit %>
    <% end %> -->
    <%= form_for [@adventure, @chapter, @choice] do |f| %>
      <%= f.fields_for :choice, [Choice.new] do |choice| %>
        <%= choice.text_field :option %>
      <% end %>
    <%= f.submit %>
    <% end %>
  </body>
</html>
