
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a new Adventure</title>
  </head>
  <body>
    <div class="registration_forms">

      <div class="form_title_create">
        <h2 class="sign_up_h2">Create your adventure!</h2>
      </div>

      <%= form_for @adventure do |form| %>
      <div class="field">
        <%= form.label :title, class: "form_heading" %> <br>
      </div>

      <div class="field">
        <%= form.text_field :title, class: "form_input_box", required: "true" %> <br>
      </div>

      <div class="field">
        <%= form.label :synopsis, class: "form_heading" %> <br>
      </div>

      <div class="field">
        <%= form.text_field :synopsis, class: "form_input_box", required: "true" %> <br>
      </div>

      <div class="field">
        <%= form.label :image, class: "form_heading" %> <br>
        <%= form.file_field :image, required: "true" %> <br>
      </div>

      <div class="field">
        <%= form.button :submit, value: "Create Adventure", id: "small_log_in_btn_create" %>
      </div>

      <% end %>
    </div>
  </body>
</html>
