<!DOCTYPE html>
<html>
  <head>
    <title>TFAA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-brand">
        <%= link_to "Time for an Adventure", root_path %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Log in", new_user_session_path %>
          </li>

          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
    <%= yield %>
  </body>
</html>
